extends ../layouts/default

block content
	#snowstreams
		.body.waiting
			.jumbotron
				.container
					| <div style="padding-bottom:60px;padding-top:60px;text-align:center;" ><div class="Spinner Spinner--default Spinner--lg" ><span class="Spinner_dot Spinner_dot--first" ></span><span class="Spinner_dot Spinner_dot--second" ></span><span class="Spinner_dot Spinner_dot--third" ></span></div></div>
					
block js
	script. 
		socketPort=#{socketPort}
		socketHost='#{socketHost}'
	//- script(src='/js/vendor.js')
	//- script(src='/js/packages.js')
	//- script(src='/js/client.js')
	script(src="/jspm_packages/system.js")
	script(src="/dev-app.js")
