doctype html
html
	head
		
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		
		title= title || 'inquisive Client Connect'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/styles/site.min.css", rel="stylesheet")
		style.
			
	body.default()
		
		.container
			br
			.row
				.col-xs-6
					.input-group
						span.input-group-addon.input-group-sm.coinstamp host
						input.host.form-control.coinstamp( type="text"  id="host" name="host" value="@"  readonly)
				.col-xs-6
					.input-group
						span.input-group-addon.input-group-sm.coinstamp socket port
						input.port.form-control.coinstamp( type="text"  id="socketPort" name="socketPort" value="#{socket}" readonly)
			form#testbedform.form(style="clear:both;")
				.adderror
				p
				
				a(name="top")
				.form-group.input-group
					span.input-group-addon.input-group-sm.coinstamp live
					select#list.form-control(name='list')
						option(value='') All
						option Source
						option Stream
						option Channel
						option Program
						option ProgramArgument
						option SourceCategory			
						
				.form-group.input-group
					span.input-group-addon.input-group-sm.coinstamp api
					select#path.form-control(name='path')
						option sources
						option streams
						option channels
						option programs
						option programarguments
						option sourcecategories
						
				.form-group.input-group
					span.input-group-addon.input-group-sm.coinstamp command
					select#emit.form-control(name='emit')
						option list
						option get
						option create
						option update
						option updateField
						option remove
						option managePrograms
						option stop
				.form-group.input-group
					span.input-group-addon.input-group-sm.coinstamp id
					input.form-control.coinstamp( type="text"  id="id" name="id" )
				.row
					<div class="col-xs-4"><div class="form-group input-group"><span class="input-group-addon input-group-sm coinstamp">key</span><input type="text"  name="key[]"  class="changeme form-control coinstamp"></div></div><div class="col-xs-7"><div class="form-group input-group"><span class="input-group-addon input-group-sm coinstamp"></span><input placeholder="value" type="text"  name="val[]" class="form-control coinstamp"></div></div><div class="col-xs-1"><span class="glyphicon glyphicon-trash text-danger deleteRow"></span></div>
				.form-group.input-group#addRowHere
					p 
					p: a.addinputs(style="cursor:pointer") Add New key/value pair
					p
					
				.form-group.input-group
					button.btn.btn-info#runsock Send Sock Request 
					| &nbsp; 
					button.btn.btn-info#runapi Send API Request
			div#myAffixHelper.col-xs-3(style="display:none;")
			div#myAffix.col-xs-3
				pre: a(href="#top") Top
				pre#commands
			div.col-xs-9
				pre#console
		
			
			
	script(src='/js/vendor.js')
	script(src='/js/test.js')
	script.
		var _csrf = '#{locals.token}';
		
