html
	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'snowstreams'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/styles/site.min.css", rel="stylesheet")
		link(href="/styles/react-select.css", rel="stylesheet")
		link(href="/styles/react-resizable.css", rel="stylesheet")
		link(href="/js/lib/bower_components/react-date-picker/dist/react-datepicker.min.css", rel="stylesheet")
		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body
		//- BODY
		#body
			#confirm-modal
			block intro

			//- The content block should contain the body of your template's content
			block content


		//- FOOTER
		.container: #footer


		//- JAVASCRIPT

		//- Include template-specific javascript files by extending the js block
		block js
