.pb-container {
	display: inline-block;
	text-align: center;
	width: 100%;
}
.pb-container.right {
	text-align: right;
}
.pb-container.left {
	text-align: left;
}
.pb-container .pb-button {
	background: transparent;
	border: 2px solid currentColor;
	border-radius: 27px;
	color: currentColor;
	cursor: pointer;
	padding: 0;
	text-decoration: none;
	text-align: center;
	width: 150px;
	height: 36px;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	transition: background-color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s, border-radius 0.3s;
}

.pb-container.square .pb-button {
	border-radius: 0;
	
}
.pb-container.small .pb-button {
	width: 50px;
	
}
.pb-container.square.loading .pb-button {
	border-radius: 27px;
}

.pb-container .pb-button span {
	display: inherit;
	transition: opacity 0.3s 0.1s;
	font-size: 1.2em;
	font-weight: 100;
}
.pb-container .pb-button svg {
	height: 32px;
	width: 32px;
	position: absolute;
	transform: translate(-50%, -50%);
	pointer-events: none;
}
.pb-container .pb-button svg path {
	opacity: 0;
	fill: none;
}
.pb-container .pb-button svg.pb-progress-circle {
	animation: spin 0.9s infinite cubic-bezier(0.085, 0.260, 0.935, 0.710);
}
.pb-container .pb-button svg.pb-progress-circle path {
	stroke: currentColor;
	stroke-width: 5;
}
.pb-container .pb-button svg.pb-checkmark path,
.pb-container .pb-button svg.pb-cross path {
	stroke: #fff;
	stroke-linecap: round;
	stroke-width: 4;
}
.pb-container.disable .pb-button {
	cursor: not-allowed;
}
.pb-container.loading .pb-button {
	width: 36px;
	border-width: 6.5px;
	border-color: #ddd;
	cursor: wait;
	background-color: transparent;
	padding: 0;
}
.pb-container.loading .pb-button span {
	transition: all 0.15s;
	opacity: 0;
	display: none;
}
.pb-container.loading .pb-button .pb-progress-circle > path {
	transition: opacity 0.15s 0.3s;
	opacity: 1;
}

.pb-container.btnsuccess .pb-button {
	border-color: #B1A2A2;
	background-color: @brand-success;
	color: #fff;
}
.pb-container.btninfo .pb-button {
	border-color: #B1A2A2;
	background-color: @brand-info;
	color: #fff;
}
.pb-container.btndanger .pb-button {
	border-color: #B1A2A2;
	background-color: @brand-danger;
	color: #fff;
}

.pb-container.success .pb-button {
	border-color: #A0D468;
	background-color: #A0D468;
}
.pb-container.success .pb-button span {
	transition: all 0.15s;
	opacity: 0;
	display: none;
}
.pb-container.success .pb-button .pb-checkmark > path {
	opacity: 1;
}
.pb-container.error .pb-button {
	border-color: #ED5565;
	background-color: #ED5565;
}
.pb-container.error .pb-button span {
	transition: all 0.15s;
	opacity: 0;
	display: none;
}
.pb-container.error .pb-button .pb-cross > path {
	opacity: 1;
}
@keyframes spin {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
		transform-origin: center center;
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
		transform-origin: center center;
	}
}
